.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid var(--gray-400);
    border-radius: var(--radius);
    margin-top: 2rem;
    padding-top: 2rem;
}

.item-list {
    list-style: none;
}

.list-item li {
    
}

.empty-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--size-14);
    line-height: var(--line-height);
}

.empty-message img {
    padding: 2rem;
}
