.item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
}

.delete {
    padding: 0.5rem;
    background-color: transparent;
    border: none;
}

.completed {
    text-decoration: line-through;
}

.delete:hover {
    background-color: var(--gray-400);
    border-radius: var(--radius);
    cursor: pointer;
}

.delete:hover svg path {
    fill: var(--danger);
}